<h1>Admin dashboard</h1>
<p>Contains list of all users, the table below can be used to access the articles by a particular user and any article (or comment for that matter) that violates inclusive netizenship principles can be thereby discarded.</p>

All users:
<table class="table">
  <thead>
    <tr>
      <th scope="col">User id</th>
      <th scope="col">Username</th>
      <th scope="col">Posts by this user</th>
    </tr>
  </thead>
<% @users.each do |user| %>
  <tbody>
    <tr>
      <th scope="row"><%= user.id %></th>
      <td><%= image_tag(user.avatar_thumbnail) %><%= user.username %></td>
      <td><%= link_to 'Posts by this user', admin_show_path(user), class: "btn btn-primary" %></td>
    </tr>
  </tbody>
<% end %>
</table>